.shopcategory-products {
    margin: 20px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px; 
    column-gap: 20px; 
    padding-left: 20px;
}

.shopcategory-publicidad {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 20px 10px;
    row-gap: 20px; 
    column-gap: 20px; 
    padding-right: 20px;
}
  
.shopcategory-publicidad img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 10px; 
}

.shopcategory-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}

/*===================================
=========RESPOSIVE=============
====================================*/

@media(max-width:1280px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width:800px) {
    .shopcategory-products {
        grid-template-columns: 1fr 1fr; 
    }
    .shopcategory-publicidad {
        display: none; 
    }
}
