.footer {
    background: #d6d6d6;
}

.img-fluid{
    width: 200px;
    height: 200px;
}

.links {
    padding-top: 5vh;
}

.links button {
    color: #252525;
    text-decoration: none;
}

.social-icons {
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.copyright {
    padding: 40px;
    text-align: center;
}

@media(max-width:800px) {

    .img-fluid {
        width: 90px;
        height: 90px;
    }

    .links {
        display: none;
    }

    .contac-info {
        display: none;
    }

    .qrdataf {
        display: none;
    }

    .copyright {
        display: none;
    }
}